<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>MorlRounded-Medium.tff</string>
		<string>MorlRounded-Regular.tff</string>
		<string>MorlRounded-Bold.tff</string>
		<string>MorlRounded-Light.tff</string>
	</array>
</dict>
</plist>
